@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
    font-family:'Quicksand', sans-serif;
    font-size: 20px;
}

.my-header {
    background-color: #5b0289;
    color: #f5f5f5;
    padding: 20px;
    position: fixed;
    top:0;
    width: 100%;
    height: 30px;
}

.my-header h1 {
    float:left;
}

.my-header nav {
    float: right;
    padding: 0 30px;
}

.my-header nav ul li {
    display: inline-block;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 15px;
}

.my-header nav ul li a {
    text-decoration: none;
    color: #f5f5f5;
}

#About {
    background-image: url('../images/bg.jpg');
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 70px;
    color: #f5f5f5;
    text-align: center;
}

#About h2{
    padding-top: 130px;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
}

#Program {
    height: 300px;
    padding: 40px 40px;
}

#Program h2 {
    text-align: center;
    font-weight: bold;
}

.program-list {
    width: 22%;
    float: left;
    background-color: bisque;
    height: 80px;
    margin-top: 40px;
    margin-right: 0.6%;
    text-align: center;
    padding: 35px 15px;
}

.program-list h3{
    line-height: 1.5;
}

#Contact {
    text-align: center;
    background-color: #5b0289;
    color: #f5f5f5;
    /* height: 50px; */
    padding: 25px;
}


