body{
  font-family: sans-serif;
  background-image: url('../images/coffee.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.coffee-bg {
  height: 700px;
  position: relative;
}
.coffee-bg:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 9;
  height: 700px;

}
.order-list h3{
  margin: 0 30px;
}
.order-list {
  color: #fff;
  float: left;
  position: relative;
  margin: 10px auto 0;
  display: block;
  width: 700px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 40px 0;
  border-radius: 50px;

}
h3{
  font-size: 30px;
  color: #fff;
  margin-top: 15px;
}
#orders {
  padding: 10px 0px;
  list-style-type: circle;
  text-align: left;
  padding: 15px 53px;
}
.logo {
  float: left;
  color: #fff;
  font-size: 55px;
  font-family: sans-serif;
  letter-spacing: -5.9px;
  z-index: 9999;
  position: relative;
}
header{
  padding: 30px 30px;
}
header nav{
  float: right;
  z-index: 9999;
  position: relative;
}
header nav ul li{
  display: inline-block;
  color: #ffe4da;
  padding: 10px 30px;
}
#orderForm{
  clear: both;
  padding: 20px 40px;
  margin: 80px;
  max-width: 350px;
  z-index: 9999;
  float: left;
  position: relative;
  background-color: rgba(204, 202, 202, 0.4);
}
header nav ul li {
  display: inline-block;
  padding: 10px 30px;
  font-size: 23px;
  font-family: sans-serif;
  color: #ffe4da;
  letter-spacing: 3px;
}
#orderForm label {
  color: #fff;
  display: block;
  margin: 20px 0 10px;
  font-size: 20px;
  font-family: sans-serif;
  letter-spacing: -1.6px;
}
#orderForm input , #orderForm select {
  padding: 8px 20px;
  width: 300px;
}
#orderForm select{
  height: 36px;
  width: 344px;
}
#orders li {
  padding: 10px 0;
  font-size: 17px;
  color: #ffbaba;
}
#orderForm input[type="checkbox"]{
  width: inherit;
}
input[type="checkbox"]:before {
  width: 20px;
  height: 20px;
}
#orderForm .isHotlabel {
  display: inline-block;
}
button {
  background-color: #80423d;
  padding: 10px 36px;
  margin: 18px 0;
  float: right;
  box-shadow: -1px -1px 8px #80423d;
  color: #fff;
  font-size: 18px;
  font-family: sans-serif;
  border: 1px solid #80423d;
  letter-spacing: -0.7px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  outline: none;
}
button:hover{
  background-color: #1b2b2a;
  border: 1px solid #1b2b2a;

}