
* {
    margin: 0;  
  }
  
  div {
    border: 1px solid;
    background-color: darkgrey;
  }
  
  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #534666;
    opacity: .5;
    height: 150px;
  }
  
  nav img {
    float: left;
    margin-top: 15px;
    margin-right: 30px;
    margin-left: 10px;
    /* text-align: center; */
  }
  
  nav ul li{
    list-style: none;
    display: inline-block;
    padding:10px;
    margin-top: 40px;
    margin-right: 75px;
  }

  .left-menu, .main-content, .right-pane {
    height: 1000px;
  }
  
  .main-content {
    margin-top: 150px;
    background-color: #f1f1f1;
    font-size: 24px;
    text-align: center;
    
  }
  
  .left-menu{
    float: left;
    background-color: #138086;
    width: 75px;
  }
  
  .right-pane{
    float: right;
    background-color: #dc8665;
    width: 150px;
  }

  footer{
    text-align: center;
    height: 30px;
    background-color: #534666;
    padding: 20px;
    color: #f1f1f1;
  }

/* 
  margin: 0 auto;
  margin : 2px 2px; */